<app-navbar></app-navbar>

<!-- Hero Banner -->
<div id="hero-banner" class="container-fluid d-flex justify-content-center align-items-center">
  <h1 class="fw-semibold text-uppercase text-white pb-0 pb-lg-4">Welcome to XYZ Cars</h1>
</div>

<!-- Sponsor -->
<div class="container d-flex justify-content-between mt-4 mb-4" id="sponsors">
  <div class="sponsor d-flex justify-content-center align-items-center" *ngFor="let sponsor of sponsors">
    <img src="{{sponsor.img}}" alt="Car Sponsor">
  </div>
</div>
