<app-navbar></app-navbar>

<!-- Hero Banner -->
<div id="hero-banner" class="container pt-4 pt-lg-5">
  <div class="d-flex flex-column flex-md-row">
    <div class="hero-content me-0 me-lg-3">
      <div class="heading">
        <h1>Find and become a professional with passion</h1>
      </div>
      <div class="hero-login-form">
        <app-login-form></app-login-form>
      </div>
    </div>
    <div class="hero-image mt-5 mt-md-0 d-flex justify-content-center">
      <img
        src="../../../assets/images/hero-illustration.png"
        alt="Hero Illustration"
      />
    </div>
  </div>
</div>
