.error {
  margin-top: -25px;
  margin-bottom: 25px;
  color: #b02a37;
  display: none;
}

.error-border {
  border: 1.5px solid #b02a37 !important;
}

.error-message::placeholder {
  color: #b02a37;
}

.select-validator {
  margin-top: -15px;
  display: none;
  color: #b02a37;
  font-size: 0.97rem;
}
