<form class="mt-4 d-flex flex-column">
  <input
    id="loginEmail"
    class="d-block mb-3"
    type="text"
    placeholder="Email or phone"
  />
  <input
    id="loginPassword"
    class="d-block"
    type="password"
    placeholder="Password"
  />
  <div class="forgot-password mt-3 mb-3 text-end">
    <a class="text-decoration-none" routerLink="/forgot-password"
      >Forgot Password?</a
    >
  </div>

  <button class="btn btn-primary" type="submit" routerLink="/profile">
    Login
  </button>
</form>
