* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  align-items: center;
  margin: 0 auto;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 20px;
}

section {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#hero-banner {
  background-color: rgba(0, 0, 0, 0.2);
  height: 500px;
}

/* About */
section#about {
  background-color: rgba(0, 0, 0, 0.3);
  scroll-margin-top: 100px;
}

.text-about {
  margin-top: 20px;
  width: 600px;
}

.text-about button {
  padding: 15px 40px;
  margin-top: 30px;
}

/* Programming Courses */
.programming-courses {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.box-course {
  width: 300px;
  height: 280px;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* contact */
section#contact-us {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: start;
}

#submit,
label {
  display: block;
  margin-top: 10px;
}

#submit {
  padding: 10px;
}

input,
textarea {
  width: 100%;
}

.contact-form {
  width: 400px;
  padding: 20px;
  margin-right: 30px;
}

.contact-image {
  width: 350px;
  height: 360px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#find-us {
  background-color: rgba(0, 0, 0, 0.1);
}
.find-us-image {
  margin-top: 20px;
  height: 400px;
  background-color: white;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Privacy Policy */
#privacy-policy {
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.privacy-policy-header {
  font-size: 1.5rem;
}

.privacy-policy-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.privacy-policy-text h3 {
  font-weight: 500;
  margin-top: 30px;
}

.privacy-policy-text p {
  font-weight: 300;
  margin-left: 20px;
}
