@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 50px;
  border: 1px solid black;
  margin-top: 100px;
}

header {
  margin-bottom: 40px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.links {
  display: flex;
}

.links a {
  display: block;
  padding: 6px 10px;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

select {
  padding: 0 10px;
}

#main-page {
  border: 1px solid black;
}

.products {
  display: flex;
}

.product {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.product-image img {
  width: 140px;
  height: 150px;
}

.product-text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
